* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.colb-dark-blue {
  background-color: #2c3e50;
}

.colb-green {
  background-color: #1abc9c;
}

.colb-blue {
  background-color: #3a546d;
}
.col-dark-blue {
  color: #2c3e50;
}

.col-green {
  color: #1abc9c;
}

.col-blue {
  color: #3a546d;
}

.line {
  width: 100px;
  background-color: white;
  border: 1px solid white;
}

.line-blue {
  width: 100px;
  background-color: #3a546d;
  border: 1px solid #3a546d;
}

.line-height-2 {
  height: 20px;
  line-height: 2;
}

.star {
  transform: scale(1.4);
}
.row-img {
  row-gap: 24px;
}
.row-img img {
  width: 100%;
  border-radius: 5px;
}

.form-control {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #d1d1d1;
}

.button-green {
  border: #25a88e;
}

.custom-btn .btn-primary:hover {
  background-color: #02daae;
  border-color: #02daae;
}

.btn-round {
  margin: 0 5px;
  width: 40px;
  height: 40px;
  border: 1px solid white;
  border-radius: 50%;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}


.img-hov {
  position: relative;
  overflow: hidden;
}

.overlay{
  display: inline;
  content: "";
  position: absolute;
  width: calc(100% - 24px);
  height: 100%;
  top: 100%;
  left: 12px;
  background-color: rgba(82, 84, 87, 0.377);
  transition: top .5s ;
}

.img-hov:hover .overlay {
    top:0;
}

.twitter:hover .fa-twitter{
    color:rgb(29, 155, 240);
}

.facebook:hover .fa-facebook-f{
    color:#2E89FF;
}

.google:hover .fa-google-plus-g{
    color: rgb(245, 245, 18);
}
.linkedin:hover .fa-linkedin-in{
    color: #0A66C2;
}

 


  



